/* Reset + fonte */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Regular.ttf");
}

/* Tela cheia */
body {
    background-image: url("/assets/Desenhos.png");
    background-color: #000000de;
    background-size: cover;
    background-position: center;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container principal */
#editar {
    color: white;
    width: 32rem;
    /* proporcional, mas fixo o bastante */
    min-height: 38rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 0.7rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.75);
}

/* Título */
#editar h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

img {
    width: 25%;
}

/* Formulário */
#form {
    width: 100%;
    display: flex;
    justify-content: center;
}

#formContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    width: 100%;
}

/* Inputs */
#formContent input[type="name"] ,
#formContent input[type="email"],
#formContent input[type="password"] ,
#formContent input[type="date"] { 

    width: 100%;
    height: 3.5rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0 1rem;
    background-color: rgba(217, 217, 217, 0.3);
    color: white;
    font-size: 1rem;
}

/* Botão */
#formContent button {
    width: 100%;
    height: 3.5rem;
    border-radius: 0.5rem;
    background-color: #e5e5e5;
    color: #000;
    border: none;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

#formContent button:hover {
    background-color: #fff;
}
span {
    display: flex;
    align-self: flex-start;
    font-size: small;
    text-decoration: underline;
    cursor: pointer;
}


@media screen and (max-width: 440px ) {
    body {
        background-image: none;
        background: linear-gradient(to bottom, #1F1D2A, #0C0A0D);
        align-items: flex-start;
        padding-top: 2 rem;
    }
    #editar{
        background: none;
        background-color: transparent;
        border: none ;
    }
    #editar h1 {
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
    }
    
    img {
        width: 25%;
        padding-bottom: 5rem;
    }
   #form{
   
   }

}